/* Pricing Panel Project */

.pricingpanelproject{
    background-color: #739df7;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.pricingpanel {
    background-color: white;
    border-radius: 10px;
    padding: 15px 25px;
    width: 100%;
    max-width: 960px;  
    color: #016ff9;
    display:flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    /* font-weight: 500;
    justify-content: center;
    align-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
div.subpricingpanel {
    border-bottom: 1px solid #e1f1ff;
}
div.subpricingpanel:nth-child(3) {
    border-bottom: none;
}
.pricingimage{
    margin-bottom: 25px;
    width: 100%;
}
h2.productname{
color: grey;
font-weight: 600;
letter-spacing: 2px;
}

ul.features{
margin: 50px 0 25px;
color: #016ff9;
}

.addfeatures{
font-weight: 600;
letter-spacing: 2px;
font-size: 12px;
line-height: 1.5;
padding: 15px 0;
border-top: 1px solid #e1f1ff;
}
.addfeatures:last-child{
    border-bottom: 1px solid #e1f1ff;
}
.productprice{
    font-weight: bolder;
    color: #016ff9;
    font-size: 32px;
    margin: 0.5em;
}
.pricingbutton{
border: 1px solid #597daa;
border-radius: 10%;
color: #016ff9;
display: inline-block;
padding: 15px 35px;
text-decoration: none;
margin: 25px 0;
transition: background-color 200ms ease-in-out;
} 

.pricingbutton:hover, .pricingbutton:focus{ /*focus means lets say when you use tab*/
    background-color: #4494f5;
    color: white;      
}

@media (min-width: 900px){
    .pricingpanel {
      flex-direction: row;
    }
    .subpricingpanel{
        border-right: 1px solid #e1f1ff;
        padding: 25px 50px;
    }
    .subpricingpanel{
        border-right: none;
    }
  }
