.MyResumeIntro{
    background-color: black;
}
.MyResumeIntro_Inner{
    color: white;
    text-align: right;
    padding: 3px;
}
#name{
    font-size: 18px;
}
#designation{
    font-style: italic;
}
#website a{
    text-decoration: none;
    color: white;
}
