.MyResumeProjects{
    width: 80%;
    margin: auto;
}
#subHeader{
    font-size: 24px;
    font-weight: bold;
}
.project{
    display: grid;
    grid-template-columns: 60% 40%;
    margin-top: 20px;
}
.project img{
    width:600px;
    height: 300px;
    border-radius: 10px;
}
.project div p, .project div ul{
    margin: 10px;
} 