{
    "plugins": ["transform-remove-console"]
}
// or you can use this too
// {
//     "plugins": [ ["transform-remove-console", { "exclude": [ "error", "warn"] }] ]
// }
// It means we are excluding console.error and console.warn statements.