<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>servlets</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>JJ3_Part1</display-name>
    <servlet-name>JJ3_Part1</servlet-name>
    <servlet-class>servlets.JJ3_Part1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JJ3_Part1</servlet-name>
    <url-pattern>/JJ3_Part1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JJ3_Part2</display-name>
    <servlet-name>JJ3_Part2</servlet-name>
    <servlet-class>servlets.JJ3_Part2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JJ3_Part2</servlet-name>
    <url-pattern>/JJ3_Part2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JJ3_Part2_valid</display-name>
    <servlet-name>JJ3_Part2_valid</servlet-name>
    <servlet-class>servlets.JJ3_Part2_valid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JJ3_Part2_valid</servlet-name>
    <url-pattern>/JJ3_Part2_valid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JJ3_Part2_invalid</display-name>
    <servlet-name>JJ3_Part2_invalid</servlet-name>
    <servlet-class>servlets.JJ3_Part2_invalid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JJ3_Part2_invalid</servlet-name>
    <url-pattern>/JJ3_Part2_invalid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JJ4_Part1</display-name>
    <servlet-name>JJ4_Part1</servlet-name>
    <servlet-class>servlets.JJ4_Part1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JJ4_Part1</servlet-name>
    <url-pattern>/JJ4_Part1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JJ4_Part2_Gmail_Signup</display-name>
    <servlet-name>JJ4_Part2_Gmail_Signup</servlet-name>
    <servlet-class>servlets.JJ4_Part2_Gmail_Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JJ4_Part2_Gmail_Signup</servlet-name>
    <url-pattern>/JJ4_Part2_Gmail_Signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JJ4_Part2_Gmail_Signin</display-name>
    <servlet-name>JJ4_Part2_Gmail_Signin</servlet-name>
    <servlet-class>servlets.JJ4_Part2_Gmail_Signin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JJ4_Part2_Gmail_Signin</servlet-name>
    <url-pattern>/JJ4_Part2_Gmail_Signin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JJ4_Part2_Gmail_ProfileDetails</display-name>
    <servlet-name>JJ4_Part2_Gmail_ProfileDetails</servlet-name>
    <servlet-class>servlets.JJ4_Part2_Gmail_ProfileDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JJ4_Part2_Gmail_ProfileDetails</servlet-name>
    <url-pattern>/JJ4_Part2_Gmail_ProfileDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JJ4_Part2_Gmail_login</display-name>
    <servlet-name>JJ4_Part2_Gmail_login</servlet-name>
    <servlet-class>servlets.JJ4_Part2_Gmail_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JJ4_Part2_Gmail_login</servlet-name>
    <url-pattern>/JJ4_Part2_Gmail_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JJ4_Part2_Gmail_DeleteUser</display-name>
    <servlet-name>JJ4_Part2_Gmail_DeleteUser</servlet-name>
    <servlet-class>servlets.JJ4_Part2_Gmail_DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JJ4_Part2_Gmail_DeleteUser</servlet-name>
    <url-pattern>/JJ4_Part2_Gmail_DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JJ5_Part1</display-name>
    <servlet-name>JJ5_Part1</servlet-name>
    <servlet-class>servlets.JJ5_Part1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JJ5_Part1</servlet-name>
    <url-pattern>/JJ5_Part1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JJ5_Part2</display-name>
    <servlet-name>JJ5_Part2</servlet-name>
    <servlet-class>servlets.JJ5_Part2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JJ5_Part2</servlet-name>
    <url-pattern>/JJ5_Part2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JJ6</display-name>
    <servlet-name>JJ6</servlet-name>
    <servlet-class>servlets.JJ6</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JJ6</servlet-name>
    <url-pattern>/JJ6</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JJ6_Part1</display-name>
    <servlet-name>JJ6_Part1</servlet-name>
    <servlet-class>servlets.JJ6_Part1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JJ6_Part1</servlet-name>
    <url-pattern>/JJ6_Part1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JJ6_Part2</display-name>
    <servlet-name>JJ6_Part2</servlet-name>
    <servlet-class>servlets.JJ6_Part2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JJ6_Part2</servlet-name>
    <url-pattern>/JJ6_Part2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JJ6_Part2_Update_Password</display-name>
    <servlet-name>JJ6_Part2_Update_Password</servlet-name>
    <servlet-class>servlets.JJ6_Part2_Update_Password</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JJ6_Part2_Update_Password</servlet-name>
    <url-pattern>/JJ6_Part2_Update_Password</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JJ7_Part1_findCapital</display-name>
    <servlet-name>JJ7_Part1_findCapital</servlet-name>
    <servlet-class>servlets.JJ7_Part1_findCapital</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JJ7_Part1_findCapital</servlet-name>
    <url-pattern>/JJ7_Part1_findCapital</url-pattern>
  </servlet-mapping>
</web-app>